@media screen and (max-width: 767px) {
    header {
        margin-top: 5vh;
        animation: apparition 1s ease 0s 1 normal forwards;
        text-align: center;
    }
	footer {
		background-color : grey;
		text-align:center;
		margin-top: 500px;
	}
    
    #retour {
        position: absolute;
        top: 20px;
        left: 20px;
    }
    
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        animation: apparition 1s ease 1s 1 normal forwards;
        opacity: 0;
    }
    
    #gauche {
		margin-top: 50px;
        width: 150px;
        height: 450px;
        background-color: rgba(0,0,0,0.25);
        font-size: 20px;
        font-family: "font", arial, sans-serif;
        display: flex;
        flex-direction: column;
		align-items: center;
    }
	
    
    #gauche > p {
        margin-left: 10px;
        margin-top: 50px;
        
    }
    
    #reseaux > a > img {
        width: 32px;
        margin-top: 50px;
        margin-left: 50px;
    
    }
    
    #cv {
		margin-top: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    button {
        background-color: rgba(0,0,0,0.25);
        font-family: 'font', arial, sans-serif;
        width: 200px;
        height: 50px;
        margin-top: 75px;
    }
    
    #mecontacter {
        display: flex;
        margin-top: 100px;
        justify-content: center;
		align-items: center;
    }
    
    #contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    input {
        width: 350px;
        height: 35px;
        background-color: rgba(0,0,0,0.25);;
        font-family: 'font', Arial, Helvetica, sans-serif;
        font-size: 20px;
        margin-bottom: 10px;
        margin-left: 50px;
        color: white;
        border: none;
    }
    
    textarea {
        width: 350px;
        height: 250px;
        background-color: rgba(0,0,0,0.25);;
        font-family: 'font', Arial, Helvetica, sans-serif;
        font-size: 40px;
        margin-bottom: 10px;
        margin-left: 50px;
        color: white;
        border: none;
        text-shadow: 1px 1px 3px black;
    }
    
    #droite {
        margin-top: 50px;
		align-items: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: landscape){
    header {
        margin-top: 5vh;
        animation: apparition 1s ease 0s 1 normal forwards;
        text-align: center;
    }
	
		footer {
		background-color : grey;
		text-align:center;
		margin-top: 50px;
	}
    
    #retour {
        position: absolute;
        top: 20px;
        left: 20px;
    }
    
    main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        animation: apparition 1s ease 1s 1 normal forwards;
        opacity: 0;
    }
    
    #gauche {
       margin-top: 50px;
        width: 400px;
        height: 400px;
        background-color: rgba(0,0,0,0.25);
        font-size: 20px;
        font-family: "font", arial, sans-serif;
        display: flex;
        flex-direction: column;
    }
    
    #gauche > p {
        margin-left: 10px;
        margin-top: 50px;
        
    }
    
    #reseaux > a > img {
        width: 32px;
        margin-top: 50px;
        margin-left: 50px;
    
    }
    
    #cv {
        display: flex;
        margin-top: 25px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    button {
        background-color: rgba(0,0,0,0.25);
        font-family: 'font', arial, sans-serif;
        width: 350px;
        height: 50px;
        margin-top: 75px;
    }
    
    #mecontacter {
        display: flex;
        margin-top: 100px;
        justify-content: center;
    }
    
    #contact {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    input {
        width: 350px;
        height: 35px;
        background-color: rgba(0,0,0,0.25);;
        font-family: 'font', Arial, Helvetica, sans-serif;
        font-size: 20px;
        margin-bottom: 10px;
        margin-left: 50px;
        color: white;
        border: none;
    }
    
    textarea {
        width: 350px;
        height: 250px;
        background-color: rgba(0,0,0,0.25);;
        font-family: 'font', Arial, Helvetica, sans-serif;
        font-size: 40px;
        margin-bottom: 10px;
        margin-left: 50px;
        color: white;
        border: none;
        text-shadow: 1px 1px 3px black;
    }
    
    #droite {
        margin-top: 50px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait){
    header {
        margin-top: 5vh;
        animation: apparition 1s ease 0s 1 normal forwards;
        text-align: center;
    }
    	footer {
		background-color : grey;
		text-align:center;
	}
    #retour {
        position: absolute;
        top: 20px;
        left: 20px;
    }
    
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        animation: apparition 1s ease 1s 1 normal forwards;
        opacity: 0;
        align-items: center;
    }
    
    #gauche {
        margin-top: 50px;
         width: 400px;
        height: 400px;
        background-color: rgba(0,0,0,0.25);
        font-size: 20px;
        font-family: "font", arial, sans-serif;
        display: flex;
        flex-direction: column;
    }
    
    #gauche > p {
        margin-left: 10px;
        margin-top: 50px;
        
    }
    
    #reseaux > a > img {
        width: 32px;
        margin-top: 50px;
        margin-left: 50px;
        
    }
    
    #cv {
        display: flex;
        margin-top: 25px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    button {
        background-color: rgba(0,0,0,0.25);
        font-family: 'font', arial, sans-serif;
        width: 350px;
        height: 50px;
        margin-top: 25px;
    }
    
    #mecontacter {
        display: flex;
        margin-top: 100px;
        justify-content: center;
    }
    
    #contact {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    input {
        width: 55vw;
        height: 35px;
        background-color: rgba(0,0,0,0.25);;
        font-family: 'font', Arial, Helvetica, sans-serif;
        font-size: 20px;
        margin-bottom: 10px;
        color: white;
        border: none;
    }
    
    textarea {
        width: 55vw;
        height: 250px;
        background-color: rgba(0,0,0,0.25);;
        font-family: 'font', Arial, Helvetica, sans-serif;
        font-size: 40px;
        margin-bottom: 10px;
        color: white;
        border: none;
        text-shadow: 1px 1px 3px black;
    }
    
    #droite {
        margin-top: 50px;
        width: 55vw;
    }

    .formulaire {
        margin-left: 0px;
    }
}

@media only screen 
and (min-width : 1024px) and (max-width: 1823px){
    header {
        margin-top: 5vh;
        animation: apparition 1s ease 0s 1 normal forwards;
        text-align: center;
    }
    	footer {
		background-color : grey;
		text-align:center;
		margin-top: 65px;
	}
    #retour {
        position: absolute;
        top: 20px;
        left: 20px;
    }
    
    main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        animation: apparition 1s ease 1s 1 normal forwards;
        opacity: 0;
    }
    
    #gauche {
        margin-top: 50px;
         width: 400px;
        height: 400px;
        background-color: rgba(0,0,0,0.25);
        font-size: 20px;
        font-family: "font", arial, sans-serif;
        display: flex;
        flex-direction: column;
    }
    
    #gauche > p {
        margin-left: 10px;
        margin-top: 50px;
        
    }
    
    #reseaux > a > img {
        width: 32px;
        margin-top: 50px;
        margin-left: 50px;
    
    }
    
    #cv {
        display: flex;
        margin-top: 25px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    button {
        background-color: rgba(0,0,0,0.25);
        font-family: 'font', arial, sans-serif;
        width: 350px;
        height: 50px;
        margin-top: 75px;
    }
    
    #mecontacter {
        display: flex;
        margin-top: 100px;
        justify-content: center;
    }
    
    #contact {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    input {
        width: 350px;
        height: 35px;
        background-color: rgba(0,0,0,0.25);;
        font-family: 'font', Arial, Helvetica, sans-serif;
        font-size: 20px;
        margin-bottom: 10px;
        margin-left: 50px;
        color: white;
        border: none;
    }
    
    textarea {
        width: 350px;
        height: 250px;
        background-color: rgba(0,0,0,0.25);;
        font-family: 'font', Arial, Helvetica, sans-serif;
        font-size: 40px;
        margin-bottom: 10px;
        margin-left: 50px;
        color: white;
        border: none;
        text-shadow: 1px 1px 3px black;
    }
    
    #droite {
        margin-top: 50px;
    }
    
}

@media only screen 
and (min-width : 1824px){
    header {
        margin-top: 5vh;
        animation: apparition 1s ease 0s 1 normal forwards;
    }
    	footer {
		background-color : grey;
		text-align:center;
		margin-top: 80px;
	}
    #retour {
        position: absolute;
        top: 20px;
        left: 20px;
    }
    
    main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        animation: apparition 1s ease 1s 1 normal forwards;
        opacity: 0;
    }
    
    #gauche {
        margin-top: 50px;
        width: 400px;
        height: 400px;
        background-color: rgba(0,0,0,0.25);
        font-size: 40px;
        font-family: "font", arial, sans-serif;
        display: flex;
        flex-direction: column;
    }
    
    #gauche > p {
        margin-left: 50px;
        margin-top: 50px;
        
    }
    
    #reseaux > a > img {
        width: 80px;
        margin-top: 50px;
        margin-left: 50px;
    
    }
    
    #cv {
        display: flex;
        margin-top: 25px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    button {
        background-color: rgba(0,0,0,0.25);
        font-family: 'font', arial, sans-serif;
        width: 350px;
        height: 50px;
        margin-top: 25px;
    }
    
    #mecontacter {
        display: flex;
        margin-top: 100px;
        justify-content: center;
    }
    
    #contact {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    input {
        width: 775px;
        height: 70px;
        background-color: rgba(0,0,0,0.25);;
        font-family: 'font', Arial, Helvetica, sans-serif;
        font-size: 40px;
        margin-bottom: 10px;
        margin-left: 50px;
        color: white;
        border: none;
    }
    
    textarea {
        width: 775px;
        height: 250px;
        background-color: rgba(0,0,0,0.25);;
        font-family: 'font', Arial, Helvetica, sans-serif;
        font-size: 40px;
        margin-bottom: 10px;
        margin-left: 50px;
        color: white;
        border: none;
        text-shadow: 1px 1px 3px black;
    }
    
    #droite {
        margin-top: 50px;
    }
    
}