@media screen and (max-width: 767px) {
	
    #divtoppage {
        opacity: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        margin-top: 25vh;
        animation: apparition 1s ease 0s 1 normal forwards;
    }
    
    #divtoppage > img {
        width: 320px;
		margin-left: 150px;
		top: 50px;
		
    }
    
    #divtoppage > #textegauchetoppage > p {
        position: relative;
        top: 500px;
        font-size: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
    #divtoppage {
        opacity: 0;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        margin-top: 0vh;
        animation: apparition 1s ease 0s 1 normal forwards;
    }
    
    #divtoppage > img {
        margin-top: 10vh;
        width: 280px;
    }
    
    #divtoppage > #textegauchetoppage > p {
        position: relative;
        top: 250px;
        font-size: 50px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
    #divtoppage {
        opacity: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 10vh;
        animation: apparition 1s ease 0s 1 normal forwards;
    }
    
    #divtoppage > img {
        margin-top: 25vh;
        width: 520px;
    }
    
    #divtoppage > #textegauchetoppage > p {
        position: relative;
        top: 250px;
        font-size: 50px;
    }
}

@media only screen 
and (min-width : 1024px) and (max-width: 1823px) {

    #divtoppage {
        opacity: 0;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        margin-top: 12.5vh;
        animation: apparition 1s ease 0s 1 normal forwards;
    }
    
    #divtoppage > img {
        margin-top: 10vh;
        width: 320px;
    }
    
    #divtoppage > #textegauchetoppage > p {
        position: relative;
        top: 250px;
        font-size: 50px;
    }
    
}

@media only screen 
and (min-width : 1824px) {
    #divtoppage {
        opacity: 0;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        margin-top: 25vh;
        animation: apparition 1s ease 0s 1 normal forwards;
    }
    
    #divtoppage > img {
        width: 420px;
    }
    
    #divtoppage > #textegauchetoppage > p {
        position: relative;
        top: 250px;
        font-size: 50px;
    }
}