* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: white;
}


li, p, h1, h2, a, input {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 66px;
    }
    
    h2 {
        text-align: center;
        font-size: 30px;
        
    }
 }

@media screen and (min-width: 768px) and (max-width: 1023px) {
    h1 {
        font-size: 96px;
    }
    
    h2 {
        text-align: center;
        font-size: 30px;
        
    }
 }

@media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
    h1 {
        font-size: 5vw;
    }
    
    h2 {
        text-align: center;
        font-size: 40px;
        
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
    h1 {
        font-size: 96px;
    }
    
    h2 {
        text-align: center;
        font-size: 60px;
    }
}

@media only screen and (min-width : 1824px) {
    h1 {
        font-size: 96px;
    }
    
    h2 {
        text-align: center;
        font-size: 60px;
        
    }
}

body {
    background-color: #B7EBF2;
    font-family: "font", Arial, Helvetica, sans-serif;
    color: white;
    
}

#retour {
    position: absolute;
    top: 32px;
    left: 32px;
}